In [23]:
import glob, os
import pandas as pd
import xlrd

In [24]:
pwd

'/Users/javierparada/Documents/Repositories/Andres/TARIFAS'

In [25]:
# 41 TABLAS DE EXCEL (43 PERO DOS SE REPITEN)
path = '/Users/javierparada/Documents/Repositories/Andres/TARIFAS/tariffs'
sheet_names = ['ALL IN', 'CMA', 'COSCO', 'HBS', 'HPL','HPL spot','MSC 21days','MSC 30days', 'NAC', 'ONE', 'spot']
os.listdir(path)

['TARIFAS 02 FEBRERO-18-28-2019.xls',
 'TARIFAS 05 MAYO 23-02 JUNIO 2019.xls',
 'TARIFAS 09 SEPTIEMBRE-16-22-2019.xls',
 'TARIFAS 07 JULIO-23-30-2019.xls',
 'TARIFAS 02 FEBRERO 1-28.xls',
 '.DS_Store',
 'TARIFAS 12 DICIEMBRE-01-08-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls',
 'TARIFAS 03 MARZO 09-14 2019.xls',
 'TARIFAS 11 NOVIEMBRE-18-24-2019.xls',
 'TARIFAS 01 ENERO-19-31-2019.xls',
 'TARIFAS 11 NOVIEMBRE-11-24-2019.xls',
 'TARIFAS 06 JUNIO-03-14-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-01-08-2019.xls',
 'TARIFAS 01 ENERO-15-31-2019.xls',
 'TARIFAS 07 JULIO-04-14-2019.xls',
 'TARIFAS 07 JULIO-19-22-2019.xls',
 'TARIFAS 08 AGOSTO-26-01-2019.xls',
 'TARIFAS 06 JUNIO-08-14-2019.xls',
 'TARIFAS 04 ABRIL 15-30-2019.xls',
 'TARIFAS 11 NOVIEMBRE-25-30-2019.xls',
 'TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls',
 'TARIFAS 08 AGOSTO-12-25-2019.xls',
 'TARIFAS 05 MAYO 18-02 JUNIO 2019.xls',
 'TARIFAS 03 MARZO 04-14 2019.xls',
 'TARIFAS 04 ABRIL 01-14 2019.xls',
 'TARIFAS 03 MARZO 25-31 2019.xls',
 'TARIFAS 06 JUNIO-17-30-2019.xls',
 'TARIFAS 04 ABRIL 08-14 2019.xls',
 'TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls',
 'TARIFAS 05 MAYO 01-14-2019.xls',
 'TARIFAS 12 DICIEMBRE-05-08-2019.xls',
 'TARIFAS 10 OCTUBRE-20-27-2019.xls',
 'TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls',
 'TARIFAS 09 SEPTIEMBRE-09-15-2019.xls',
 'appended_complete.xlsx',
 'TARIFAS 08 AGOSTO-01-11-2019.xls',
 'TARIFAS 10 OCTUBRE-09 OCTUBRE.xls',
 'TARIFAS 01 ENERO-07-14-2019.xls',
 'TARIFAS 11 NOVIEMBRE-15-24-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls',
 'TARIFAS 05 MAYO  23-02 JUNIO 2019.xls',
 'TARIFAS 03 MARZO 15-31 MARZO 2019.xls']

In [26]:
for file in os.listdir(path):
    if file.endswith(".xls"):
        xl_workbook = xlrd.open_workbook(path + "/" + file)
        print(file)
        print(xl_workbook.sheet_names(), sep="\t")
        #for sheet in xl_workbook.sheet_names():
            #print(sheet)
            #xl_sheet = xl_workbook.sheet_by_name(sheet)

TARIFAS 02 FEBRERO-18-28-2019.xls
['ALL IN', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'NAC ', 'ONE', 'HBS']
TARIFAS 05 MAYO 23-02 JUNIO 2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 09 SEPTIEMBRE-16-22-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 07 JULIO-23-30-2019.xls
['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 02 FEBRERO 1-28.xls
['ALL IN', 'NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 12 DICIEMBRE-01-08-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 03 MARZO 09-14 2019.xls
['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 11 NOVIEMBRE-18-24-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 01 ENERO-19-31-2019.xls
['NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 11 NOVIEMBRE-11-24-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 06 JUNIO-03-14-2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 09 SEPTIEMBRE-01-08-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 01 ENERO-15-31-2019.xls
['NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 07 JULIO-04-14-2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 07 JULIO-19-22-2019.xls
['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-26-01-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 06 JUNIO-08-14-2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 04 ABRIL 15-30-2019.xls
['ALL IN', 'NAC ', 'HPL spot', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 11 NOVIEMBRE-25-30-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-12-25-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 05 MAYO 18-02 JUNIO 2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 03 MARZO 04-14 2019.xls
['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 04 ABRIL 01-14 2019.xls
['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 03 MARZO 25-31 2019.xls
['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 06 JUNIO-17-30-2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 04 ABRIL 08-14 2019.xls
['ALL IN', 'NAC ', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'ONE', 'HBS']
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 05 MAYO 01-14-2019.xls
['NAC ', 'HPL spot', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS', 'ALL IN']
TARIFAS 12 DICIEMBRE-05-08-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-20-27-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls
['ALL IN', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'NAC ', 'ONE', 'HBS']
TARIFAS 09 SEPTIEMBRE-09-15-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-01-11-2019.xls
['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-09 OCTUBRE.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 01 ENERO-07-14-2019.xls
['NAC ', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS', 'HPL']
TARIFAS 11 NOVIEMBRE-15-24-2019.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls
['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 05 MAYO  23-02 JUNIO 2019.xls
['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 03 MARZO 15-31 MARZO 2019.xls
['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']

In [27]:
# Replace a set of multiple sub strings with a new string in main string.

def replaceMultiple(mainString, toBeReplaces, newString):
    # Iterate over the strings to be replaced
    for elem in toBeReplaces :
        # Check if string is in the main string
        if elem in mainString :
            # Replace the string
            mainString = mainString.replace(elem, newString)
    
    return  mainString

# Validity dates

In [28]:
metadata = pd.read_excel('/Users/javierparada/Documents/Repositories/Andres/TARIFAS/summary_andres.xlsx', index_col=0)
metadata['Start Date'].value_counts()
metadata

,Start Date,End Date,Sheets,ALL IN,CMA,COSCO,HBS,HPL,HPL spot,MSC 21days,MSC 30days,NAC,ONE,spot
File,,,,,,,,,,,,,,
TARIFAS 01 ENERO-07-14-2019.xls,2019-07-01 00:00:00,01/14/2019,"NAC , MSC 21days, MSC 30days, COSCO, ONE, HBS,...",NaN,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 01 ENERO-15-31-2019.xls,01/15/2019,01/31/2019,"NAC , HPL, MSC 21days, MSC 30days, COSCO, ONE,...",NaN,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 01 ENERO-19-31-2019.xls,01/19/2019,01/31/2019,"NAC , HPL, MSC 21days, MSC 30days, COSCO, ONE,...",NaN,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 02 FEBRERO 1-28.xls,2019-01-02 00:00:00,02/28/2019,"ALL IN, NAC , HPL, MSC 21days, MSC 30days, COS...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls,02/25/2019,2019-03-03 00:00:00,"ALL IN, HPL, MSC 21days, MSC 30days, COSCO, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 02 FEBRERO-18-28-2019.xls,02/18/2019,02/28/2019,"ALL IN, HPL, MSC 21days, MSC 30days, COSCO, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 03 MARZO 04-14 2019.xls,2019-04-03 00:00:00,03/14/2019,"ALL IN, MSC 21days, MSC 30days, COSCO, HPL, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 03 MARZO 09-14 2019.xls,2019-09-03 00:00:00,03/14/2019,"ALL IN, MSC 21days, MSC 30days, COSCO, HPL, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 03 MARZO 15-31 MARZO 2019.xls,03/15/2019,03/31/2019,"ALL IN, MSC 21days, MSC 30days, COSCO, HPL, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 03 MARZO 25-31 2019.xls,03/25/2019,03/31/2019,"ALL IN, MSC 21days, MSC 30days, COSCO, HPL, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 04 ABRIL 01-14 2019.xls,2019-01-04 00:00:00,04/14/2019,"ALL IN, MSC 21days, MSC 30days, COSCO, HPL, NA...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 04 ABRIL 08-14 2019.xls,2019-08-04 00:00:00,04/14/2019,"ALL IN, NAC , MSC 21days, MSC 30days, COSCO, H...",1.0,NaN,1,1,1,NaN,1,1.0,1.0,1,NaN
TARIFAS 04 ABRIL 15-30-2019.xls,04/15/2019,05/30/2019,"ALL IN, NAC , HPL spot, MSC 21days, MSC 30days...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 04 ABRIL 22-30-2019.2.xls,04/22/2019,05/30/2019,"NAC , HPL spot, MSC 21days, MSC 30days, COSCO,...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 05 MAYO 01-14-2019.xls,2019-01-05 00:00:00,05/14/2019,"NAC , HPL spot, MSC 21days, MSC 30days, COSCO,...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 05 MAYO 18-02 JUNIO 2019.xls,05/18/2019,2019-02-06 00:00:00,"MSC 21days, MSC 30days, COSCO, ONE, HPL spot, ...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 05 MAYO 23-02 JUNIO 2019.xls,05/23/2019,2019-02-06 00:00:00,"MSC 21days, MSC 30days, COSCO, ONE, HPL spot, ...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 06 JUNIO-03-14-2019.xls,2019-03-06 00:00:00,06/14/2019,"MSC 21days, MSC 30days, COSCO, ONE, HPL spot, ...",1.0,NaN,1,1,1,1.0,1,1.0,1.0,1,1.0
TARIFAS 06 JUNIO-08-14-2019.xls,2019-08-06 00:00:00,06/14/2019,"MSC 21days, MSC 30days, COSCO, ONE, CMA, HPL s...",1.0,1.0,1,1,1,1.0,1,1.0,NaN,1,1.0
TARIFAS 06 JUNIO-17-30-2019.xls,06/17/2019,06/30/2019,"MSC 21days, MSC 30days, COSCO, ONE, CMA, HPL s...",1.0,1.0,1,1,1,1.0,1,1.0,NaN,1,1.0
TARIFAS 07 JULIO-04-14-2019.xls,2019-04-07 00:00:00,07/14/2019,"MSC 21days, MSC 30days, COSCO, ONE, CMA, HPL s...",1.0,1.0,1,1,1,1.0,1,1.0,NaN,1,1.0
TARIFAS 07 JULIO-19-22-2019.xls,07/19/2019,07/22/2019,"MSC 21days, COSCO, ONE, CMA, HPL spot, HBS",NaN,1.0,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 07 JULIO-23-30-2019.xls,07/23/2019,07/30/2019,"MSC 21days, COSCO, ONE, CMA, HPL spot, HBS",NaN,1.0,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 08 AGOSTO-01-11-2019.xls,2019-01-08 00:00:00,2019-11-08 00:00:00,"MSC 21days, COSCO, ONE, CMA, HPL spot, HBS",NaN,1.0,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 08 AGOSTO-12-25-2019.xls,2019-12-08 00:00:00,08/25/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 08 AGOSTO-26-01-2019.xls,08/26/2019,2019-01-09 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 09 SEPTIEMBRE-01-08-2019.xls,2019-01-09 00:00:00,2019-08-09 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 09 SEPTIEMBRE-09-15-2019.xls,2019-09-09 00:00:00,09/15/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 09 SEPTIEMBRE-16-22-2019.xls,09/16/2019,09/22/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls,09/23/2019,2019-06-10 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls,09/29/2019,10/13/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 10 OCTUBRE-09 OCTUBRE.xls,2019-09-10 00:00:00,2019-09-10 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 10 OCTUBRE-20-27-2019.xls,10/20/2019,10/27/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls,10/28/2019,2019-11-10 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 11 NOVIEMBRE-11-24-2019.xls,2019-11-11 00:00:00,11/24/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 11 NOVIEMBRE-15-24-2019.xls,11/15/2019,11/24/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 11 NOVIEMBRE-18-24-2019.xls,11/18/2019,11/24/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 11 NOVIEMBRE-25-30-2019.xls,11/25/2019,11/30/2019,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 12 DICIEMBRE-01-08-2019.xls,2019-01-12 00:00:00,2019-08-12 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0
TARIFAS 12 DICIEMBRE-05-08-2019.xls,2019-05-12 00:00:00,2019-08-12 00:00:00,"spot, MSC 21days, COSCO, ONE, HPL spot, HBS",NaN,NaN,1,1,1,1.0,1,NaN,NaN,1,1.0

In [4]:
remove = ['2018', '2019', 'th']
head = "File\tSheet\tStart date\tEnd date"
print(head)
for sheet in sheet_names:
    row = 2
    if sheet == 'spot':
        row=12
    for file in os.listdir(path):
        if file.endswith(".xls"):
            xl_workbook = xlrd.open_workbook(file)
            xl_sheet = xl_workbook.sheet_by_name(sheet)
            start = xl_sheet.row(row)[0].value.split(" to ")[0].split("from ",1)[1].replace('th','').replace(',',' ').replace('2018','').replace('2019','')
            end = xl_sheet.row(row)[0].value.split(" to ")[1].split("by",1)[0].replace('th','').replace(',',' ').replace('2018','').replace('2019','')
            start2 = replaceMultiple(xl_sheet.row(row)[0].value.split(" to ")[0].split("by",1)[0],remove, "").replace(',',' ')
            end2 = replaceMultiple(xl_sheet.row(row)[0].value.split(" to ")[1].split("by",1)[0],remove, "").replace(',',' ')
            print(file,sheet,start + " 2019",end + " 2019",sep="\t \t")

File	Sheet	Start date	End date
MEXICO RATE-als-update 2018.xls	 	spot	 	25 Nov 2019	 	30 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	spot	 	18 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	spot	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	spot	 	28 Oct 2019	 	10 Nov  2019
MEXICO RATE-als-update 2018_4.xls	 	spot	 	23 Sep 2019	 	6 Oct  2019
MEXICO RATE-als-update 2018.xls	 	MSC 21days	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	MSC 21days	 	18 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	MSC 21days	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	MSC 21days	 	28 Oct 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	MSC 21days	 	23 Sep 2019	 	6 Oct 2019
MEXICO RATE-als-update 2018.xls	 	COSCO	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	COSCO	 	15 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	COSCO	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	COSCO	 	28 Oct 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	COSCO	 	23 Sep 2019	 	6 Oct 2019
MEXICO RATE-als-update 2018.xls	 	ONE	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	ONE	 	15 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	ONE	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	ONE	 	11 Nov 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	ONE	 	16 Sep 2019	 	22 Sep 2019
MEXICO RATE-als-update 2018.xls	 	HPL spot	 	15 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	HPL spot	 	15 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	HPL spot	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	HPL spot	 	1 Jul 2019	 	7 Jul  2019
MEXICO RATE-als-update 2018_4.xls	 	HPL spot	 	1 Jul 2019	 	7 Jul  2019
MEXICO RATE-als-update 2018.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	HBS	 	3 Aug 2019	 	14 Aug  2019
MEXICO RATE-als-update 2018_4.xls	 	HBS	 	3 Aug 2019	 	14 Aug  2019

# Import all

In [34]:
completeList = []

for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(path + "/" + file)
        for sheet in xls_file.sheet_names:
            data = xls_file.parse(sheet,skiprows=3)
            data['File'] = file
            data['Sheet'] = sheet
            completeList.append(data) 
            
appended_complete = pd.concat(completeList,sort=True)
appended_complete = appended_complete.merge(metadata, left_on=['File'], right_on=['File'])
appended_complete.to_excel(os.path.join(path, 'appended_complete.xlsx'))

In [30]:
appended_complete.columns

Index([  '2019.2.18',   '2019.2.28',       'COSCO',         'FAK',
                1290,          1380,      '1380.1',  'Unnamed: 7',
                  21,            20,      'Direct',             0,
               '0.1',         '0.2', 'Unnamed: 14',    'BUC/ISPS',
                  90,           180,       '180.1', 'Unnamed: 19',
                1200,      '1200.1',      '1200.2', 'Unnamed: 23',
              'File',       'Sheet',    'LOCATION',     'AMS C/F',
            'CY CLS',         'ETD',        '20GP',        '40GP',
              '40HQ',       '40NOR',   'Demurrage',         'T/T',
         'Transmode',         'POL',  'M.CITY R+T',     'POL/POD',
             '20'GP',       '40'GP',       '40'HC',         'OWS',
            'REMARK',   '2019.3.15',   '2019.3.31',          1600,
            '1600.1',      '1600.2',         '0.3',         '0.4',
               '0.5',      '1600.3',      '1600.4',      '1600.5',
          '2019.2.1',          1440,          1480,      '1480.1',
                1350,          1300,      '1300.1',      '40'Nor',
          '2019.3.4',   '2019.3.14',           640,           730,
             '730.1',           550,       '550.1',       '550.2',
                 740,           830,       '830.1',           650,
             '650.1',       '650.2',   '2019.2.25',    '2019.3.3',
                1040,          1130,      '1130.1',           950,
             '950.1',       '950.2'],
      dtype='object')

In [31]:
appended_complete['Sheet'].value_counts()

ONE           4418
MSC 21days    3834
HBS           2788
COSCO         2206
HPL spot      2146
MSC 30days    2031
HPL            888
NAC            378
spot           255
ALL IN          90
CMA             90
Name: Sheet, dtype: int64

In [32]:
appended_complete['File'].value_counts()

TARIFAS 03 MARZO 09-14 2019.xls                  535
TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls          535
TARIFAS 03 MARZO 15-31 MARZO 2019.xls            535
TARIFAS 03 MARZO 04-14 2019.xls                  535
TARIFAS 02 FEBRERO-18-28-2019.xls                535
TARIFAS 04 ABRIL 01-14 2019.xls                  535
TARIFAS 02 FEBRERO 1-28.xls                      535
TARIFAS 03 MARZO 25-31 2019.xls                  535
TARIFAS 04 ABRIL 08-14 2019.xls                  535
TARIFAS 01 ENERO-19-31-2019.xls                  530
TARIFAS 01 ENERO-15-31-2019.xls                  530
TARIFAS 01 ENERO-07-14-2019.xls                  530
TARIFAS 05 MAYO  23-02 JUNIO 2019.xls            529
TARIFAS 05 MAYO 01-14-2019.xls                   529
TARIFAS 05 MAYO 23-02 JUNIO 2019.xls             529
TARIFAS 04 ABRIL 15-30-2019.xls                  529
TARIFAS 05 MAYO 18-02 JUNIO 2019.xls             529
TARIFAS 06 JUNIO-03-14-2019.xls                  529
TARIFAS 06 JUNIO-08-14-2019.xls                  527
TARIFAS 06 JUNIO-17-30-2019.xls                  527
TARIFAS 07 JULIO-04-14-2019.xls                  499
TARIFAS 08 AGOSTO-01-11-2019.xls                 403
TARIFAS 07 JULIO-19-22-2019.xls                  403
TARIFAS 07 JULIO-23-30-2019.xls                  403
TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls      399
TARIFAS 09 SEPTIEMBRE-16-22-2019.xls             399
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls      399
TARIFAS 09 SEPTIEMBRE-09-15-2019.xls             399
TARIFAS 12 DICIEMBRE-05-08-2019.xls              399
TARIFAS 10 OCTUBRE-20-27-2019.xls                399
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls    399
TARIFAS 09 SEPTIEMBRE-01-08-2019.xls             399
TARIFAS 11 NOVIEMBRE-11-24-2019.xls              399
TARIFAS 11 NOVIEMBRE-18-24-2019.xls              399
TARIFAS 08 AGOSTO-12-25-2019.xls                 399
TARIFAS 11 NOVIEMBRE-25-30-2019.xls              399
TARIFAS 12 DICIEMBRE-01-08-2019.xls              399
TARIFAS 11 NOVIEMBRE-15-24-2019.xls              399
TARIFAS 10 OCTUBRE-09 OCTUBRE.xls                399
TARIFAS 08 AGOSTO-26-01-2019.xls                 399
TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls          399
Name: File, dtype: int64

In [33]:
appended_complete.describe(include='all')

,2019.2.18,2019.2.28,COSCO,FAK,1290,1380,1380.1,Unnamed: 7,21,20,...,650.1,650.2,2019.2.25,2019.3.3,1040,1130,1130.1,950,950.1,950.2
count,5,10,72,0.0,5.000000,5.000000,5.000000,0.0,90.0,90.000000,...,4.000000,4.000000,5,5,5.00000,5.000000,5.000000,4.000000,4.000000,4.000000
unique,3,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,3,NaN,NaN,NaN,NaN,NaN,NaN
top,2019.2.1,2019.2.28,MSC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2019.2.25,2019.3.3,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,8,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,3,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1101.600000,1160.600000,1160.600000,NaN,21.0,23.200000,...,712.000000,712.000000,NaN,NaN,901.60000,947.600000,947.600000,1053.000000,1043.500000,1043.500000
std,NaN,NaN,NaN,NaN,619.969999,633.277822,633.277822,NaN,0.0,6.435855,...,105.160195,105.160195,NaN,NaN,504.34393,512.381986,512.381986,178.986033,199.922485,199.922485
min,NaN,NaN,NaN,NaN,25.000000,50.000000,50.000000,NaN,21.0,20.000000,...,574.000000,574.000000,NaN,NaN,25.00000,50.000000,50.000000,900.000000,850.000000,850.000000
25%,NaN,NaN,NaN,NaN,1258.000000,1316.000000,1316.000000,NaN,21.0,20.000000,...,668.500000,668.500000,NaN,NaN,1025.00000,1050.000000,1050.000000,975.000000,962.500000,962.500000
50%,NaN,NaN,NaN,NaN,1275.000000,1350.000000,1350.000000,NaN,21.0,20.000000,...,725.000000,725.000000,NaN,NaN,1058.00000,1150.000000,1150.000000,1000.000000,1000.000000,1000.000000
75%,NaN,NaN,NaN,NaN,1325.000000,1450.000000,1450.000000,NaN,21.0,20.000000,...,768.500000,768.500000,NaN,NaN,1075.00000,1151.000000,1151.000000,1078.000000,1081.000000,1081.000000
max,NaN,NaN,NaN,NaN,1625.000000,1637.000000,1637.000000,NaN,21.0,36.000000,...,824.000000,824.000000,NaN,NaN,1325.00000,1337.000000,1337.000000,1312.000000,1324.000000,1324.000000

# Import spot

In [237]:
sheet = 'spot'
spotList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        spotList.append(data) 
appended_spot = pd.concat(spotList,sort=True)
appended_spot = appended_spot[appended_spot.iloc[:,1].notnull()]
appended_spot.to_excel(os.path.join(path, 'appended_spot.xlsx'))

# Import MSC 21days

In [238]:
sheet = 'MSC 21days'
msc21daysList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        msc21daysList.append(data) 
appended_msc21days = pd.concat(msc21daysList,sort=True)
appended_msc21days = appended_msc21days[appended_msc21days.iloc[:,1].notnull()]
appended_msc21days.to_excel(os.path.join(path, 'appended_msc21days.xlsx'))

# Import COSCO

In [239]:
sheet = 'COSCO'
coscoList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        coscoList.append(data) 
appended_cosco = pd.concat(coscoList,sort=True)
appended_cosco = appended_cosco[appended_cosco.iloc[:,1].notnull()]
appended_cosco.to_excel(os.path.join(path, 'appended_cosco.xlsx'))

# Import ONE

In [240]:
sheet = 'ONE'
oneList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        oneList.append(data) 
appended_one = pd.concat(oneList,sort=True)
appended_one = appended_one[appended_one.iloc[:,1].notnull()]
appended_one.to_excel(os.path.join(path, 'appended_one.xlsx'))

# Import HPL Spot

In [241]:
sheet = 'HPL spot'
hplspotList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        hplspotList.append(data) 
appended_hplspot = pd.concat(hplspotList,sort=True)
appended_hplspot = appended_hplspot[appended_hplspot.iloc[:,1].notnull()]
appended_hplspot.to_excel(os.path.join(path, 'appended_hplspot.xlsx'))

# Import HBS

In [242]:
sheet = 'HBS'
hbsList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        hbsList.append(data) 
appended_hbs = pd.concat(hbsList,sort=True)
appended_hbs = appended_hbs[appended_hbs.iloc[:,1].notnull()]
appended_hbs.to_excel(os.path.join(path, 'appended_hbs.xlsx'))